/raw_data
__pycache__/
logs/
data_bak/
rawdata/
*.hdf5
/results_paprika
/results_paprika_
/results_raisins
/results_archive
/DECON_raisin
/data
/results
/2150_validation.csv
/2150_dataset.csv
results_paprika_.7z
/deprec
run.txt
run3.txt
run2.txt
result.csv
data.7z
debug.log
.vscode/settings.json
csv.7z
refset_results.7z
all_results.json
bak/
csv/
results_/
*result*/
*results*
